<!DOCTYPE html>
<html lang="en">
<head>
	<title>Slideshow</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Prevent this page from being cached -->
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-additions.min.css"/>
    <link rel="stylesheet" href="css/prettify.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

	<body ng-controller="SlidesCtrl">

        <button class="btn btn-default slide-nav slide-nav-menu" ng-click="showMenu()">
            <i class="fa fa-bars fa-2x"></i>
        </button>

		<div class="full-frame" ui-view></div>

        <button class="btn btn-default slide-nav slide-nav-left" ng-click="prevSlide()" ng-show="hasPrev()">
            <i class="fa fa-arrow-left fa-3x"></i>
        </button>
        <button class="btn btn-default slide-nav slide-nav-right" ng-click="nextSlide()" ng-show="hasNext()">
            <i class="fa fa-arrow-right fa-3x"></i>
        </button>

		<script src="bower_components/requirejs/require.js" data-main="js/app"></script>
	</body>
</html>
